body {
  --red: #e50914;
  --light-red: #fddddd;
  --gray: #eeeeee;
  --black: #000000;

  font-family: "Open Sans", sans-serif !important;
  background-color: white;
  color: var(--black);
  margin: 0px !important;
  width: 220px;
}

.container {
  padding: 15px 10px 15px 10px;
  text-align: center;
}

.logo {
  background-color: var(--gray);
  color: var(--red);
  font-weight: 600;
  font-size: 14px;
  word-spacing: 5px;
}

.input-info {
  padding: 6px 0px 6px 0px;
}

input {
  border: solid 1px var(--black);
  border-radius: 5px;
  padding: 6px;
  width: 80%;
}

input:hover,
input:active,
input:focus {
  border: solid 1px var(--red);
  outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input:invalid {
  border-color: var(--red);
  background-color: var(--light-red);
}

button {
  margin-top: 15px;
  background-color: var(--gray);
  color: var(--black);
  padding: 6px;
  border: 1px solid var(--black);
  border-radius: 5px;
}

button:hover,
button:active,
button:focus {
  outline: none;
  background-color: var(--red);
  color: var(--black);
}

.footer {
  background-color: var(--gray);
  margin-top: 8px;
  text-align: center;
}

.footer a {
  color: var(--black);
  text-decoration: none;
}

.footer a:hover,
a:focus,
a:active {
  color: var(--red);
}
